includes:
    - vendor/odinns/coding-style/config/larastan.neon

parameters:
    level: 8
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    tmpDir: storage/phpstan
    excludePaths:
        analyse:
            - routes/console.php
